<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");
</script>

= javascript_include_tag 'payment'

%container
  .row
    .col-xs-4.col-xs-offset-4
      .well
        = bootstrap_form_for @user, html: { class: "form-horizontal", id: "payment-form" } do |f|
          %header
            %h1.lead Register
          %fieldset
            = f.email_field :email, label: "Email Address", wrapper: { class: 'margin-reset' }
            = f.password_field :password, wrapper: { class: 'margin-reset' }
            = f.text_field :full_name, label: "Full Name", wrapper: { class: 'margin-reset' }
            = hidden_field_tag :invitation_token, @invitation_token
          %fieldset.credit_card
            %span.payment-errors.pull-right.bg-danger
            .form-group.margin-reset
              %label.control-label(for="credit-card-number") Credit Card Number
              %input.form-control#credit-card-number(type="text" data-stripe="number")
            .form-group
              .col-sm-4
                %label.control-label(for="security-code") Security Code
              .col-sm-8
                %input.form-control#security-code(type="text" data-stripe="cvc")
            .form-group
              .col-sm-4
                %label.control-label Expiration
              .col-sm-5
                = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe:"exp-month"})
              .col-sm-3
                = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe:"exp-year"})
            %fieldset.actions.control-group.col-sm-offset-9
              .controls
                %input(type="submit" value="Sign Up" class="btn btn-default")
